@{
    ViewData["Title"] = "New Category";
    var data = (PFO_Web.Models.Data)ViewBag.Data;
}
@model PFO_Web.Models.Data

<h1>New Category</h1>
<h2>@data.Categories.Count Existing categories.</h2>

<form asp-action="NewCategoryForm" enctype="multipart/form-data" method="post" class="col">
    <label>Name:</label>
	<input type="text" name="categoryName" class="form-control" required />
    <label>Type:</label>
	<select name="type" class="form-select" required>
		<option value="">Select Type</option>
		<option value="@TransactionType.Expense">Expense</option>
		<option value="@TransactionType.Income">Income</option>
    </select>
	<button class="btn btn-primary mt-1" type="submit"> Create! </button>
</form>

@if (ViewBag.Success != null)
{
                <div class="alert alert-success row mt-1">
                    <p class="col">@ViewBag.Success</p>
                </div>
}

@if (ViewBag.Danger != null)
{
                    <div class="alert alert-danger row mt-1">
                        <p class="col">@ViewBag.Danger</p>
                    </div>
}