
@{
    ViewData["Title"] = "Process";
}

<h1>Process Upload</h1>

@if (ViewBag.Message != null)
    {
            <div class="alert alert-success row mt-1">
                <p class="col">@ViewBag.Message</p>
            </div>
    }

@foreach (var transaction in ViewBag.Transactions)
{
		<div class="row">
			<div class="col">
				<p>@transaction.Type</p>
			</div>
			<div class="col">
				<p>@transaction.Memo</p>
			</div>
			<div class="col">
				<p>@transaction.Date</p>
			</div>
			<div class="col">
				<p>@transaction.Amount.ToString("C")</p>
			</div>
		</div>
}

